.dash-container {
    display: flex;
    justify-content: space-between;
}

.w-70 {
    width: 70%;
}
.margin-auto {
    margin: auto;
}
.grid-10 {
    display: grid;
    grid-template-columns: 8% 8% 10% 15% 8% 8% 10% 15% 15% 10%;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 15px;
}
.font12px{
    font-size: 13px;
}
.background-styl{
    padding-left: 50px;
    padding-right: 50px;
    background: #EFF3F6;
}
.drop-styl{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}


