/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-header{
    background-color: white;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    /* background-color: rgba(0,0,0,.04); */
    background-color: white;
}
  /* Font color */
  input.mat-input-element {
    color: white;
  }
